*~
*#
.settings/
target/
.externalToolBuilders/
maven-eclipse.xml
.idea/
*.ipr
*.class
*.log
*.apk
*.iws
*.iml
.idea
.gradle
build/
*/build/
*.ap_
app/src/main/assets/
app/build/
app/build/intermediates/res/resources-debug.ap_

